CKPT_PATH=checkpoints/resnet34_faceshape_best_grid_ES_6.pth
PREDICTOR_PATH=models/shape_predictor_68_face_landmarks.dat
HAAR_PATH=models/haarcascade_frontalface_default.xml
ASSETS_DIR=assets/hairstyles

LOW_CONF=0.55
GALLERY_K=6